.headline {
    text-align: center; /* Center align on desktop */
}

@media (max-width: 767px) {
    .headline {
        text-align: left; /* Left align on mobile devices */
    }
}
.iframe-container
{position:relative;width:100%;padding-bottom:56.25%;height:0}
.iframe-container 
iframe{position:absolute;top:0;left:0;width:100%;height:100%}

.col-lg-11 {
    align-items: center;
}

.images_esc img {
    max-width: 100%;
    height: auto;
}
.logos{
    height: 45px;
    width: 75px;
    vertical-align: bottom;
    margin-right: 0.5rem;
    
}
.btn{
    font-size: 15px;
}
.bg-silver{
    background-color: silver !important;
}
.bg-gold{
    background-color: gold !important;
}.bg-diamond{
    background-color: #B9F2FF !important;
}
.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;margin-bottom:50px}.embed-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;border-radius:10px}@media(max-width:767px){.col-md-6{width:100%}}
.heading-paragraph{
    color: white;
}